
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sora&display=swap');

body {
    
    color: #000;
    max-height: 100%;
    font-family: 'Sora', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
#title {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   background-color: white;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}
.navbar .navbar-nav .nav-item ::after {
    content: ' ';
    position: absolute;
    background-color: #c73c09;
    height: 3px;
    width: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar .navbar-nav .nav-item :hover::after {
    width: 100%;
}

.nav-item {
    margin: 20px;
    font-size: 25px;
    color: black;
}

.about-heading{
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: 0 0 3px #f9b4b4, 0 0 5px #0000FF;
    font-weight: bolder;
    padding: 40px;
   }

   #about{
    background-image: url("photo/bg3.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
   }

   #about .new-div{
    width: 100%;
   
    background-color: rgb(0, 0, 0,0.5);

   }
   .container-fluid{
    display: grid;
    place-items: center;
    
   }

   .image-slider{
    width: 70rem;
    height: 40rem;
    margin: 30px 0;
    background-image: url("photo/durgama.jpg");
    background-repeat: no-repeat;
    border: 5px solid rgb(3, 3, 84);
    background-size: 100% 100%;
    animation: changeImage 15s linear infinite;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

   }

   @keyframes changeImage {
    0%{
        background-image: url("photo/about1.jpg");
    }
   25%{
    background-image: url("photo/about2.jfif");
   }
   75%{
    background-image: url("photo/about3.jfif");
   }

   50%{
    background-image: url("photo/about4.jpg");
   }
   100%{
    background-image: url("photo/about5.jfif");
   }
   } 

   .container-fluid p{
    text-align: center;
    margin: 20px 50px;
    color: white;
    background-color: rgb(0, 0, 0,0.2);
    padding:5%;
   }

   

   .heading{
    text-align: center;
    padding: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    
   }


   #firstp{
    
    font-size: 2rem;
   }

   #services{
    background-image: linear-gradient(to bottom right, rgb(210, 104, 52), rgb(245, 248, 169));
    background-repeat: no-repeat;
    background-size: cover;

    
   }
  .card{
    position: relative;
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
    padding: 30px 40px;
    background-color:rgb(255, 236, 200);
    margin: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    cursor: pointer;
   }

   .card:hover{
    height: 590px;
   }

   .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
   }

 
   img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }

   .content{
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-200px);
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
   }

   .card:hover > .content{
    opacity: 1;
    transform: translateY(-40px);
   }

   .card-btn{
    padding: 10px 30px;
    font-size: 1.5rem;
    background-color: lightblue;
   }

   #photo{
    height: 800px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
   
 }
   

    #heading-new{
        text-align: center;
        margin-top: 2%;
        font-size: 4rem;
         padding: 20px;
         color: white;
}

#photo-page{
    background-image: url("photo/bg13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



